.vscode
.idea
Week7/Day2/ExerciseXP/Ex3/node_modules
Week7/Day2/ExerciseXP#2/Ex1/node_modules
Week7/Day2/ExerciseXP#2/Ex2/node_modules
Week7/Day2/ExerciseXP#2/Ex3/node_modules
Week7/Day2/DailyChallenge/node_modules
Week7/Day4/MiniProjectShopppingList/node_modules
Week7/Day4/RSSViewerMIniProject/node_modules
Week7/Day4/DailyChallenge/node_modules
Week8/Day4/dailychallenge/backend/node_modules
