<nav class="navbar navbar-light bg-light d-flex flex-column">
  <form class="form-inline d-flex" action="/search" method="post">
    <input
      class="form-control mr-sm-2"
      required
      type="search"
      placeholder="Title"
      aria-label="Search"
      name="title"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</nav>
