.quoteContainer {
  width: 60%;
  height: 400px;
  margin-top: 50px;
  border-radius: 8px;
  background-color: #61dafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  height: 50px;
  width: 90px;
  border: none;
  font: inherit;
  color: inherit;
  border-radius: 8px;
}
